* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  scroll-behavior: smooth;
}
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background: url(assets/kofe_chashka_dereviannaia_poverhnost_106291_1920x1080.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
header {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 99;
  background-image: linear-gradient(-60deg, #16a085 0%, #f4d03f 100%);
}

h1 {
  color: #124e65;
  user-select: none;
}
h2 {
  color: #ffb855;
}

.nav-link {
  position: relative;
  text-decoration: none;
  font-size: large;
  margin-left: 20px;
  color: #e2db99;
}

.nav-link:hover {
  display: inline-block;
  transform: scale(1.1);
  text-shadow: 1px 1px 3px #e2db99d7;
  transition: all .5s;
}

.nav-link::after{
  content: '';
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 100%;
  height: 3px;
  background: #e2db99;
  border-radius: 5px;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform .5s ;
}

.nav-link:hover::after {
  transform: scaleX(1);
  transform-origin: left;
  transition: transform .5s;
}


main {
  height: 90vh;
  width: 90vw;
  margin: 0 auto;
}

.about {
  margin-top: 40px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  gap: 5em;
  border: 1px solid #fffacd70;
  border-radius: 20px;
  backdrop-filter: blur(10px);
  color: #e2db99;
}

.avatar-image {
  width: 300px;
  height: 300px;
  border: 2px solid #fffacd70;
  border-radius: 50%;
}

.about-text{
  line-height:  1.5em;
}
/* Contacts */
.contacts, .skills, .projects {
  margin-top: 40px;
  padding: 20px;
  border: 1px solid #fffacd70;
  border-radius: 20px;
  backdrop-filter: blur(10px);
  color: #e2db99;
  line-height: 1.5em;
}

.contacts a {
  text-decoration: none;
  font-size: large;
  color: #e2db99;
  transition: all .5s;
}
.contacts a:hover {
  color: #e2db99d7;
  text-shadow: 1px 1px 3px #e2db99d7;
  transition: all .3s;
}
hr {
  margin: 10px 0;
  border-color:#e2db99;
}
.contacts-description p{
  margin-left: 20px;
}

.skills-card-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.skill-card, .projects-card{
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  text-align: center;
}
.skill-img {
  width: 100px;
  height: 100px;
}
.projects-card-wrapper{
  display: flex;
  flex-wrap: wrap;
  justify-content:space-around;
}
.projects-card{
  width: 30%;
}

.projects-card>a{
  width: 100%;
  position: relative;
}

.projects-img {
  width: 100%;
  height: 200px;
  border: 1px solid #e2db99;
  border-radius: 15px;
  transition: all .5s;
}

.projects-img:hover {
  opacity: .5;
  transition: all .5s;
}
/* .projects-card:hover .overlay{
  opacity: 1;
}

.overlay {
  position: absolute;
  bottom: 0;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 100%;
  transition: .5s ease;
  opacity:0;
  color: white;
  font-size: 20px;
  padding: 20px;
  text-align: center;
} */